* {
    box-sizing: border-box;
  }
  body{

      background:url( https://upload.wikimedia.org/wikipedia/commons/0/0d/Institute_of_Technology.JPG);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
       

  }
  
  .box {
    float: left;
    width: 40%;
    
    height: 450px;
    position: relative;
    size: 10ch;
    
    top:160px;
    left: 180px;
  }

.log 
{
padding: 20px;
}
 

 .log h4
  {

font-size: 18px;
text-align: justify;
text-decoration: none;

 }

  .boxing {
    float: left;
    width: 35%;
    padding: 50px;
    height: 450px;
    position: relative;
    size: 10ch;
   
    top:160px;
    left: 180px;
   border-radius: 25px 0 0 25px;
    
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .box h2
  {
    width:70%;
      float: left;
     
   top: 1px;
   font-size: 30px;
   padding-left: 30px;
   font-family: Arial, Helvetica, sans-serif;
      
    

  }


  .boxing{
    background-color: #0d7fac;
    opacity: 0.7;
      padding-top: 80px;
  
  }


.boxing img{
width: 50%;
height: 70%;
margin-left: 120px;
align-items: center;
display: block;
object-fit: cover;
background-repeat: no-repeat, repeat;

}
.boxing p{
font-size: 20px;

color: white;
text-align: center;
text-decoration: none;
letter-spacing: 2px;
word-spacing: 5px;

font-family: "Times New Roman", Times, serif;

}


  input  {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid white;
  outline: none;
  border-radius: 25px;
  background:#09c6f9;
  padding: 20px;
  font-size: 18px;
  color: rgba(22, 20, 20, 0.959);
}
 

  input[type=text]:focus {
  background-color: #7fd5e0;
  
  }


  ::placeholder {
color:white;
opacity: 1;
font-size: 22px; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color:white;
font-size: 22px;
}

::-ms-input-placeholder { /* Microsoft Edge */
color:white;
font-size: 22px;
}

  
  .button {
      background-image: linear-gradient(to right,  #045de9 , rgb(27, 140, 233),rgb(55,198,255), rgb(85 206 255), #09c6f9 ); 
      border: none;
      color: white;
      padding: 25px;
     
    
     justify-content: center;  
     align-items:center;  
     text-align:center;
  
    font-size: 22px;
     margin: 4px 2px 2px 4px;
    cursor: pointer;
 }

.button4 {
border-radius: 24px;
width:30%;
height: 3px;
margin: auto;

}

.button5 {
border-radius: 24px;
width:30%;
height: 3px;
margin-left: 19px;

}





@media(max-width:768px){
.boxing img{
width: 110%;
padding: 0%;
float: right;
position: relative;
margin: auto;
display: inline;

}
.button
{
font-size: 15px;


}
.box 
{

float: left;
position: relative;
background-attachment: fixed;
background-position: center;
background-image: ;

}
.boxing{


float: left;
position: relative;
background-attachment: fixed;
background-position: center;
}
body{

background-position: center;
background-size: cover;
}

}

