</div>
<div class="jumbo border border-3 border-primary">

  <form action="/editFaculty" method="POST">
    <div class="mb-3">
      <div class="lead">
        <select
          name="semester"
          id="semester"
          class="custom-select"
          onclick="populate(this.id, 'department')"
        >
          <option value="" class="default" selected disabled>
            -- Choose Semester --
          </option>
          <option value="1">1</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
        </select>
      </div>
      </div>
    <div class="mb-3">
      <select name="department" id="department" class="custom-select">
        <option value="" class="default" selected disabled>
        
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>


</div>

