<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a ><img src="../images/logo.jpeg" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="mm-active">
          <a href="/admin" aria-expanded="false">
          <img src="../images/dashboard.svg" alt="">
            <span>Dashboard</span>
          </a>
        </li>

        <li class="">
          <a  href="#" aria-expanded="false">
            <img src="../images/9.svg" alt="">
            <span>Students Responses</span>
          </a>
        </li>
        

        <li class="">
          <a  href="/editFaculty" aria-expanded="false">
            <img src="../images/10.svg" alt="">
            <span>Add Faculty Details</span>
          </a>
        </li>
        

        <li class="">
          <a href="/facultyreport"  aria-expanded="false">
            <img src="../images/001-teacher.svg" alt="">
            <span>Generate Report for Faculties</span>
          </a>
        </li>

        <li class="">
            <a href="/departmentreport" aria-expanded="false">
              <img src="../images/department.svg" alt="">
              <span>Generate Report for Department</span>
            </a>
          </li>

          <li class="">
            <a href="#" aria-expanded="false">
              <img src="../images/002-logout.svg" alt="">
              <span>Logout</span>
            </a>
          </li>


      </ul>
    
</nav>