<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dashboard</title>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/public/images/favicon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="vendors/themefy_icon/themify-icons.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="../css/edit_faculty.css" />

    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body class="crm_body_bg">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" >
        <a><img src="../images/logo.jpeg" alt="" style="height: 40px; width: 40px;background-color: blue;"/></a>
        <div class="container-fluid">
          <a class="navbar-brand" href="/admin_dashboard" >Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/editFaculty">Add Faculty Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/facultyreport">Generate Report for Faculties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/departmentreport">Generate Report for Department</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout" >Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav></div>
    

    <section class="main_content dashboard_part">
      <!-- dropdown Options for course and department -->
      <%- include('../partials/editfaculty_dropdown.ejs')%>

      <!-- list of faculties according to department and semester -->
      <%- include('../partials/show_facultylist.ejs')%>
    </section>

    <script>
      function populate(s1, s2) {
        var s1 = document.getElementById(s1);
        var s2 = document.getElementById(s2);

        s2.innerHTML = "";
        if (s1.value == "1" || "2" || "3" || "4" || "5" || "6" || "7" || "8") {
          var optionArray = [
            "CSE|Computer Science and Engineering",
            "MECH|Mechanical Engineering",
            "CIVIL|Civil Engineering",
            "ECE|Electronics and Communication Engineering",
            "IPE|Industrial and Production Engineering",
            "CHEM|Chemical Engineering",
            "IT|Information and Technology",
          ];
        }
        for (var option in optionArray) {
          var pair = optionArray[option].split("|");
          var newoption = document.createElement("option");

          newoption.value = pair[0];
          newoption.innerHTML = pair[1];

          s2.options.add(newoption);
        }
      }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.6/metisMenu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../js/apex_realestate.js"></script>

    <script src="../js/custom.js"></script>

    <script>
      $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
          if (this.checked) {
            checkbox.each(function () {
              this.checked = true;
            });
          } else {
            checkbox.each(function () {
              this.checked = false;
            });
          }
        });
        checkbox.click(function () {
          if (!this.checked) {
            $("#selectAll").prop("checked", false);
          }
        });
      });
    </script>
  </body>
</html>
